@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer base {
  @font-face {
    font-family: "SoDo Sans Black";
    src: url("/public/fonts/SoDoSans-Black.ttf");
  }
}

@layer utilities {
  .bg-gradient-custom-toxic {
    background-image: radial-gradient(#93be5f, #519b38, #070d0b);
  }
  .bg-gradient-custom-snow {
    background-image: radial-gradient(#112777, #0b62a5, #77d6c8);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.dom-element {
  width: 100%;
  height: 100%;
  font-size: clamp(100px, 17vw, 200px);
  background-color: #000;
  display: flex;
  color: white;
  align-items: center;
  padding-left: 3vw;
  line-height: 0.8;
  font-weight: 700;
}
